.flex{
    display: flex;
}

.item{
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
}

.container{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #cccccc;
}

h1{
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.25em;
    font-weight: normal;
}

body{
    font-family: monospace;
    color: #333;
}